<div class="jumbotron">
  <h3>Atualização de Fornecedor</h3>
  <app-loading [loading]="loading">
    <form [formGroup]="supplierForm" name="suppliersForm">
      <input class="form-control" type="text" formControlName="razaoSocial" placeholder="Razão Social" required="true">
      <input class="form-control" type="text" formControlName="cnpj" placeholder="CNPJ" mask="00.000.000/0000-00" required="true">
      <input class="form-control" type="text" formControlName="nomeFantasia" placeholder="Nome Fantasia" required="true">
      <input class="form-control" type="text" formControlName="endereco" placeholder="Endereço" required="true">
      <input class="form-control" type="text" formControlName="cidade" placeholder="Cidade" required="true">
      <input class="form-control" type="text" formControlName="uf" placeholder="UF" required="true">
      <input class="form-control" type="text" formControlName="telefone" placeholder="Telefone" mask="(00) 00000-0000" required="true">
      <input class="form-control" type="email" formControlName="email" placeholder="E-mail" required="true">
      <input class="form-control" type="url" formControlName="site" placeholder="Site" required="true">
      </form>
     <button class="btn btn-success mr-5 mt-3" (click)="exibeModalUpdate()">Atualizar Fornecedor</button>
     <button class="btn btn-danger mt-3" (click)="exibeModalDelete()">Apagar Fornecedor</button>
  </app-loading>
</div>

<div *ngIf="modalDelete">
  <app-modal-confirmacao [title]="'Apagar'" (confirmar)="apagarFornecedor($event)">
    Deseja realmente apagar esse cadastro?
  </app-modal-confirmacao>
</div>

<div *ngIf="modalUpdate">
  <app-modal-confirmacao [title]="'Atualizar'" (confirmar)="atualizarFornecedor($event)">
    Deseja realmente atualizar esse cadastro?
  </app-modal-confirmacao>
</div>
