<div class="jumbotron listagem">
  <h3>{{ message }}</h3>
  <app-loading [loading]="loading">
    <form [formGroup]="supplierForm" name="suppliersForm">
      <div class="form-group row">
        <label
          for="inputRazaoSocial"
          class="col-sm-2 col-form-label jumbotron-title"
          >Razão Social:
        </label>
        <div class="col-sm-10">
          <input
            class="form-control"
            type="text"
            formControlName="razaoSocial"
            placeholder="Razão Social"
            id="inputRazaoSocial"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="inputCnpj" class="col-sm-2 col-form-label jumbotron-title"
          >CNPJ:
        </label>
        <div class="col-sm-10">
          <input
            class="form-control"
            type="text"
            formControlName="cnpj"
            placeholder="00.000.000/0000-00"
            mask="00.000.000/0000-00"
            id="inputCnpj"
          />
        </div>
      </div>
      <div class="form-group row">
        <label
          for="inputNomeFantasia"
          class="col-sm-2 col-form-label jumbotron-title"
          >Nome Fantasia:
        </label>
        <div class="col-sm-10">
          <input
            class="form-control"
            type="text"
            formControlName="nomeFantasia"
            placeholder="Nome Fantasia"
            id="inputNomeFantasia"
          />
        </div>
      </div>
      <div class="form-group row">
        <label
          for="inputEndereço"
          class="col-sm-2 col-form-label jumbotron-title"
          >Endereço:
        </label>
        <div class="col-sm-10">
          <input
            class="form-control"
            type="text"
            formControlName="endereco"
            placeholder="Endereço"
            id="inputEndereço"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="inputCidade" class="col-sm-2 col-form-label jumbotron-title"
          >Cidade:
        </label>
        <div class="col-sm-10">
          <input
            class="form-control"
            type="text"
            formControlName="cidade"
            placeholder="Cidade"
            id="inputCidade"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="inputUf" class="col-sm-2 col-form-label jumbotron-title"
          >Estado:
        </label>
        <div class="col-sm-10">
          <select class="form-control" formControlName="uf" id="inputUf">
            <option *ngFor="let uf of EEstados.members" [value]="uf">
              {{ uf }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label
          for="inputTelefone"
          class="col-sm-2 col-form-label jumbotron-title"
          >Telefone:
        </label>
        <div class="col-sm-10">
          <input
            class="form-control"
            type="tel"
            formControlName="telefone"
            placeholder="(00) 00000-0000"
            mask="(00) 00000-0009"
            id="inputTelefone"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail" class="col-sm-2 col-form-label jumbotron-title"
          >E-mail:
        </label>
        <div class="col-sm-10">
          <input
            class="form-control"
            type="email"
            formControlName="email"
            placeholder="email@domain.com.br"
            id="inputEmail"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="inputSite" class="col-sm-2 col-form-label jumbotron-title"
          >Site:
        </label>
        <div class="col-sm-10">
          <input
            class="form-control"
            type="url"
            formControlName="site"
            placeholder="www.domain.com.br"
            id="inputSite"
          />
        </div>
      </div>
      <button class="btn btn-success mr-5 mt-3" (click)="exibeModalUpdate()">
        Atualizar Fornecedor
      </button>
      <button class="btn btn-danger mt-3" (click)="exibeModalDelete()">
        Apagar Fornecedor
      </button>
    </form>
  </app-loading>
</div>

<div *ngIf="modalDelete">
  <app-modal-confirmacao
    [title]="'Apagar'"
    (confirmar)="apagarFornecedor($event)"
  >
    Deseja realmente apagar esse cadastro?
  </app-modal-confirmacao>
</div>

<div *ngIf="modalUpdate">
  <app-modal-confirmacao
    [title]="'Atualizar'"
    (confirmar)="atualizarFornecedor($event)"
  >
    Deseja realmente atualizar esse cadastro?
  </app-modal-confirmacao>
</div>
