<div class="jumbotron">
  <h3>Atualização de Cliente</h3>
  <form [formGroup]="customerForm" name="customersForm" (submit)="atualizarCliente()">
  <input class="form-control" type="text" formControlName="nome" placeholder="Nome" required="true">
  <input class="form-control" type="text" formControlName="cpf" placeholder="CPF" required="true">
  <input class="form-control" type="date" formControlName="dataNascimento" placeholder="Data de Nascimento" required="true">
  <input class="form-control" type="text" formControlName="endereco" placeholder="Endereco" required="true">
  <input class="form-control" type="text" formControlName="cidade" placeholder="Cidade" required="true">
  <input class="form-control" type="text" formControlName="uf" placeholder="UF" required="true">
  <input class="form-control" type="text" formControlName="telefone" placeholder="Telefone" required="true">
  <input class="form-control" type="sexo" formControlName="sexo" placeholder="Sexo" required="true">
  <input class="form-control" type="email" formControlName="email" placeholder="E-mail" required="true">
  </form>
  <button class="btn btn-success" (click)="atualizarCliente()">Atualizar Cliente</button>
</div>
