<div class="jumbotron">
  <h3>Atualização de Cliente</h3>
  <app-loading [loading]="loading">
    <form [formGroup]="customerForm" name="customersForm">
      <input class="form-control" type="text" formControlName="nome" placeholder="Nome">
      <input class="form-control" type="text" formControlName="cpf" placeholder="CPF" mask="000.000.000-00" required="false">
      <input class="form-control" type="date" formControlName="dataNascimento" placeholder="Data de Nascimento">
     <input class="form-control" type="text" formControlName="endereco" placeholder="Endereco">
     <input class="form-control" type="text" formControlName="cidade" placeholder="Cidade">
     <input class="form-control" type="text" formControlName="uf" placeholder="UF">
     <input class="form-control" type="text" formControlName="telefone" placeholder="Telefone" mask="(00) 00000-0000">
     <input class="form-control" type="text" formControlName="sexo" placeholder="Sexo">
     <input class="form-control" type="email" formControlName="email" placeholder="E-mail">
     <button class="btn btn-success mr-5 mt-3" (click)="exibeModalUpdate()">Atualizar Cliente</button>
     <button class="btn btn-danger mt-3" (click)="exibeModalDelete()">Apagar Cliente</button>
     </form>
  </app-loading>
</div>

<div *ngIf="modalDelete">
  <app-modal-confirmacao [title]="'Apagar'" (confirmar)="apagarCliente($event)">
    Deseja realmente apagar esse cadastro?
  </app-modal-confirmacao>
</div>

<div *ngIf="modalUpdate">
  <app-modal-confirmacao [title]="'Atualizar'" (confirmar)="atualizarCliente($event)">
    Deseja realmente atualizar esse cadastro?
  </app-modal-confirmacao>
</div>

<!-- <div *ngIf="exibeToast">
  <app-notification-toast [exibir]="true" [delay]="3000" [tipo]="1" [texto]="'alteração de cliente OK!'"></app-notification-toast>
</div> -->
