<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="https://terraqueos.org">
                        Creative Tim
                    </a>
                </li>
                <li>
                    <a href="http://terraqueos.org">
                       Blog
                    </a>
                </li>
                <li>
                    <a href="https://terraqueos.org/license">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, feito por <i class="fa fa-heart heart"></i><a href="https://terraqueos.org">ByteAByte</a>
        </div>
    </div>
</footer>
