<div class="jumbotron">
  <h3>{{ message }}</h3>
  <app-loading [loading]="loading">
    <form
      [formGroup]="serviceForm"
      name="servicesForm"
      (submit)="adicionarServico()"
    >
      <input
        class="form-control"
        type="text"
        formControlName="nroServico"
        placeholder="Número"
        mask="990"
      />
      <input
        class="form-control"
        type="text"
        formControlName="nome"
        placeholder="Nome"
      />
      <input
        class="form-control"
        type="text"
        formControlName="categoria"
        placeholder="Categoria"
      />
      <input
        class="form-control"
        type="text"
        formControlName="prazoDias"
        placeholder="Prazo"
        mask="990"
      />
      <input
        class="form-control"
        type="text"
        formControlName="descricao"
        placeholder="Descrição"
      />
      <input
        class="form-control"
        type="number"
        formControlName="valor"
        placeholder="Valor"
      />
      <button class="btn btn-success mt-3" type="submit">
        Adicionar Serviço
      </button>
    </form>
  </app-loading>
</div>
