<!DOCTYPE html>
<html lang="en" ng-app="Provider_Registration">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/angular_6/angular.js"></script>
    <script src="/angular_6/i18n/angular-locale_pt-br.js"></script>
    <script>

        angular.module("Provider_Registration", []);
        angular.module("Provider_Registration").controller("Provider_RegistrationCTRL", 
        
        function($scope) {
            $scope.message="Cadastro de Fornecedores";
            $scope.providers=[
                {nome_fantasia: 'STRAVA', razao_social: 'STRAVA INC', cnpj: '234578956', endereco: 'Rua do Aro, 23, Vila do Ciclista', cidade: 'São Paulo' , uf: 'SP', telefone: '1123456789', email: 'contato@strava.com.br', site: 'www.strava.com.br'}
            ];

            $scope.adicionarFornecedor = function(provider) {
                $scope.providers.push(angular.copy(provider));
                delete $scope.provider;

            };

            $scope.apagarFornecedor = function(providers) {
                $scope.providers = providers.filter(function(provider) {
                    if (!provider.selected) return provider;

                })
            };

            $scope.temFornecedorSelecionado = function(providers) {
                return providers.some(function (provider){
                    return provider.selected;
                })
            };

            $scope.class1 = "selected";
        })

    </script>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="style.css">
    <title>Cadastro de Fornecedores</title>
</head>
<body ng-controller="Provider_RegistrationCTRL">
    <div class="jumbotron">
        <h3 ng-bind="message"></h3>
       <input type="text" class="form-control" ng-model="buscar" placeholder="Filtrar">
        <table ng-show="providers.length > 0" class="table">
            <tr>
                <td></td>
                <td><b>Nome Fantasia</b></td>
                <td><b>Razão Social</b></td>
                <td><b>CNPJ</b></td>
                <td><b>Endereço</b></td>
                <td><b>Cidade</b></td>
                <td><b>Uf</b></td>
                <td><b>Telefone</b></td>
                <td><b>E-mail</b></td>
                <td><b>Site</b></td>
            </tr>
            <tr ng-class="{selected: provider.selected}" ng-repeat="provider in providers | filter: buscar ">
                <td><input type="checkbox" ng-model="provider.selected"></td>
                <td>{{provider.nome_fantasia | uppercase}}</td>
                <td>{{provider.razao_social | uppercase}}</td>
                <td>{{provider.cnpj}}</td>
                <td>{{provider.endereco}}</td>
                <td>{{provider.cidade}}</td>
                <td>{{provider.uf}}</td>
                <td>{{provider.telefone}}</td>
                <td>{{provider.email}}</td>
                <td>{{provider.site}}</td>
                
            </tr>
        </table>
        <hr>
        <form name="providersForm">
        <input class="form-control" type="text" ng-model="provider.nome_fantasia" placeholder="Nome Fantasia" ng-required="true">
        <input class="form-control" type="text" ng-model="provider.razao_social" placeholder="Razão Social" ng-required="true">
        <!-- Aqui estamos fazendo com que as infromações passadas nesse campo sejam inclusas em "nome" dentro de $scope.clients -->
        <input class="form-control" type="text" ng-model="provider.cnpj" placeholder="CNPJ" ng-required="true">
        <input class="form-control" type="text" ng-model="provider.endereco" placeholder="endereco" ng-required="true">
        <input class="form-control" type="text" ng-model="provider.cidade" placeholder="cidade" ng-required="true">
        <input class="form-control" type="text" ng-model="provider.uf" placeholder="Uf" ng-required="true">
        <input class="form-control" type="text" ng-model="provider.telefone" placeholder="telefone" ng-required="true">
        <input class="form-control" type="text" ng-model="provider.email" placeholder="email" ng-required="true">
        <input class="form-control" type="text" ng-model="provider.site" placeholder="email" ng-required="true">

       
        </form>
        <button class="btn btn-success" ng-click="adicionarFornecedor(provider)" ng-disabled="providersForm.$invalid">Adicionar Fornecedor</button>

        <button class="btn btn-danger" ng-click="apagarFornecedor(providers)" ng-if="temFornecedorSelecionado(providers)">Apagar Fornecedor</button>
    </div>

    <div class="bottom">
        <h5>Cicloview</h5>
    </div>
</body>
</html>