<div class="jumbotron lista-clientes">
  <h3>Fornecedores</h3>
  <!-- <app-loading [loading]="loading"> -->
  <!-- <app-filtro-entidade [lista]="suppliers" (buscar)="atualizarLista($event)"></app-filtro-entidade> -->
  <input type="text" class="form-control" model="buscar" placeholder="Buscar">
  <table show="suppliers.length > 0" class="table">
     <tr>
        <td></td>
        <td><b>Nome Fantasia</b></td>
        <!-- Implementar CNPJ -->
        <!-- <td><b>CNPJ</b></td> -->
        <td><b>Endereço</b></td>
        <!-- <td><b>Cidade</b></td>
        <td><b>UF</b></td> -->
        <td><b>Telefone</b></td>
        <td><b>E-mail</b></td>
                <!-- <td>{{supplier.edit}}</td> -->
        <!--
          - Inserir uma coluna no final da tabela com icone "editar"
          - No ngfor colocar metodo de edicao que recebe supplierID
          - Mandar pra rota de editar passando o ID de parametro
          <td>{{supplier.edit}}</td> -->
     </tr>
     <tr class="{selected: supplier.selected}" *ngFor="let supplier of suppliers">
        <td><input type="checkbox" model="selected"></td>
        <td>{{supplier.nomeFantasia | uppercase}}</td>
        <!-- <td>{{supplier.CNPJ}}</td> -->
        <td>{{supplier.endereco}}</td>
        <td>{{supplier.telefone}}</td>
        <td><a href="mailto:{{supplier.email}}">{{supplier.email}}</a></td>
        <!-- <td>{{supplier.cpf}}</td>
        <td>{{supplier.dataNascimento | date:'dd/MM/yyyy'}}</td> -->
        <!-- <td>{{supplier.cidade}}</td> -->
        <!-- <td>{{supplier.uf}}</td> -->
     </tr>
  </table>
  <hr>
  <div hidden="!temFornecedorSelecionado">
    <button class="btn btn-success" onclick="redirectTo='/supplier_update'" id="btn-accept">Editar Fornecedor</button>
  </div>
