<div class="jumbotron listagem">
  <h3>{{ message }}</h3>
  <app-loading [loading]="loading">
    <form [formGroup]="productForm" name="productsForm">
      <div class="form-group row">
        <label for="inputNome" class="col-sm-2 col-form-label jumbotron-title"
          >Nome:
        </label>
        <div class="col-sm-10">
          <input
            class="form-control"
            type="text"
            formControlName="nome"
            placeholder="Nome"
            id="inputNome"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="inputMarca" class="col-sm-2 col-form-label jumbotron-title"
          >Marca:
        </label>
        <div class="col-sm-10">
          <input
            class="form-control"
            type="text"
            formControlName="marca"
            placeholder="Marca"
            id="inputMarca"
          />
        </div>
      </div>
      <div class="form-group row">
        <label
          for="inputCodBarras"
          class="col-sm-2 col-form-label jumbotron-title"
          >Código:
        </label>
        <div class="col-sm-10">
          <input
            class="form-control"
            type="text"
            formControlName="codBarras"
            placeholder="Código de Barras"
            id="inputCodBarras"
          />
        </div>
      </div>
      <div class="form-group row">
        <label
          for="inputPreco"
          class="col-sm-2 col-form-label jumbotron-title"
          >Valor:
        </label>
        <div class="col-sm-10">
          <input
            class="form-control"
            type="number"
            formControlName="preco"
            placeholder="0000.00"
            id="inputPreco"
          />
        </div>
      </div>
      <button class="btn btn-success mr-5 mt-3" (click)="exibeModalUpdate()">
        Atualizar Produto
      </button>
      <button class="btn btn-danger mt-3" (click)="exibeModalDelete()">
        Apagar Produto
      </button>
    </form>
  </app-loading>
</div>

<div *ngIf="modalDelete">
  <app-modal-confirmacao [title]="'Apagar'" (confirmar)="apagarProduto($event)">
    Deseja realmente apagar esse cadastro?
  </app-modal-confirmacao>
</div>

<div *ngIf="modalUpdate">
  <app-modal-confirmacao
    [title]="'Atualizar'"
    (confirmar)="atualizarProduto($event)"
  >
    Deseja realmente atualizar esse cadastro?
  </app-modal-confirmacao>
</div>
