<div class="jumbotron">
  <h3>{{ message }}</h3>
  <app-loading [loading]="loading">
    <form [formGroup]="userForm" name="usersForm">
      <div class="form-group row">
        <label
          for="inputNomeUsuario"
          class="col-sm-2 col-form-label jumbotron-title"
          >Usuário:
        </label>
        <div class="col-sm-10">
          <input
            class="form-control"
            type="text"
            formControlName="nomeUsuario"
            placeholder="nome.sobrenome"
            id="inputNomeUsuario"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail" class="col-sm-2 col-form-label jumbotron-title"
          >E-mail:
        </label>
        <div class="col-sm-10">
          <input
            class="form-control"
            type="email"
            formControlName="email"
            placeholder="email@domain.com.br"
            id="inputEmail"
          />
        </div>
      </div>
      <div class="form-group row">
        <label
          for="inputSenhaAntiga"
          class="col-sm-2 col-form-label jumbotron-title"
          >Senha Atual:
        </label>
        <div class="col-sm-10">
          <input
            class="form-control"
            type="password"
            formControlName="senhaAntiga"
            placeholder="Digite sua senha atual."
            id="inputSenhaAntiga"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="inputSenha" class="col-sm-2 col-form-label jumbotron-title"
          >Nova Senha:
        </label>
        <div class="col-sm-10">
          <input
            class="form-control"
            type="password"
            formControlName="senha"
            placeholder="Digite uma nova senha, mínimo de 6 caracteres."
            id="inputSenha"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="inputConfirmarSenha" class="col-sm-2 col-form-label jumbotron-title"
          >Confirmar Senha:
        </label>
        <div class="col-sm-10">
          <input
            class="form-control"
            type="password"
            formControlName="confirmarSenha"
            placeholder="Digite novamente a nova senha."
            id="inputConfirmarSenha"
          />
        </div>
      </div>
      <button class="btn btn-success mr-5 mt-3" (click)="exibeModalUpdate()">
        Salvar
      </button>
    </form>
  </app-loading>
</div>

<div *ngIf="modalUpdate">
  <app-modal-confirmacao
    [title]="'Atualizar'"
    (confirmar)="atualizarProprioUsuario($event)"
  >
    Deseja realmente atualizar esse cadastro?
  </app-modal-confirmacao>
</div>
