<div class="jumbotron">
  <h3>{{ message }}</h3>
  <app-loading [loading]="loading">
    <form
      [formGroup]="orderForm"
      name="servicesForm"
      (submit)="adicionarOrdemDeServico()"
    >
      <input
        class="form-control"
        type="text"
        formControlName="idCliente"
        placeholder="Código do Cliente"
        mask="9990"
      />
      <input
        class="form-control"
        type="text"
        formControlName="itemsServico"
        placeholder="Itens"
      />
      <input
        class="form-control"
        type="text"
        formControlName="categoria"
        placeholder="Categoria"
      />
      <input
        class="form-control"
        type="text"
        formControlName="descricao"
        placeholder="Descrição"
      />
      <input
        class="form-control"
        type="date"
        formControlName="dataEntrega"
        placeholder="Data Prevista de Entrega"
      />
      <input
        class="form-control"
        type="text"
        formControlName="statusOs"
        placeholder="Status"
      />
      <input
        class="form-control"
        type="number"
        formControlName="valor"
        placeholder="Valor"
      />
      <button class="btn btn-success mt-3" type="submit">Salvar</button>
    </form>
  </app-loading>
</div>
