<div class="jumbotron">
  <h3>Cadastro de Fornecedor</h3>
  <app-loading [loading]="loading">
     <form [formGroup]="supplierForm" name="suppliersForm" (submit)="adicionarFornecedor()">
     <input class="form-control" type="text" formControlName="razaoSocial" placeholder="Razão Social" required="true">
     <input class="form-control" type="text" formControlName="cnpj" placeholder="CNPJ" mask="00.000.000/0000-00" required="true">
     <input class="form-control" type="text" formControlName="nomeFantasia" placeholder="Nome Fantasia" required="true">
     <input class="form-control" type="text" formControlName="endereco" placeholder="Endereço" required="true">
     <input class="form-control" type="text" formControlName="cidade" placeholder="Cidade" required="true">
     <input class="form-control" type="text" formControlName="uf" placeholder="UF" required="true">
     <input class="form-control" type="tel" formControlName="telefone" placeholder="Telefone" mask="(00) 00000-0000" required="true">
     <input class="form-control" type="email" formControlName="email" placeholder="E-mail" required="true">
     <input class="form-control" type="url" formControlName="site" placeholder="Site" required="true">
     <button class="btn btn-success mt-3" type="submit">Adicionar Fornecedor</button>
     </form>
  </app-loading>
</div>
