<div class="jumbotron">
  <h3>{{ message }}</h3>
  <app-loading [loading]="loading">
    <form
      [formGroup]="supplierForm"
      name="suppliersForm"
      (submit)="adicionarFornecedor()"
    >
      <input
        class="form-control"
        type="text"
        formControlName="razaoSocial"
        placeholder="Razão Social"
      />
      <input
        class="form-control"
        type="text"
        formControlName="cnpj"
        placeholder="CNPJ"
        mask="00.000.000/0000-00"
      />
      <input
        class="form-control"
        type="text"
        formControlName="nomeFantasia"
        placeholder="Nome Fantasia"
      />
      <input
        class="form-control"
        type="text"
        formControlName="endereco"
        placeholder="Endereço"
      />
      <input
        class="form-control"
        type="text"
        formControlName="cidade"
        placeholder="Cidade"
      />
      <input
        class="form-control"
        type="text"
        formControlName="uf"
        placeholder="UF"
        mask="SS"
      />
      <input
        class="form-control"
        type="tel"
        formControlName="telefone"
        placeholder="Telefone"
        mask="(00) 00000-0000"
      />
      <input
        class="form-control"
        type="email"
        formControlName="email"
        placeholder="E-mail"
      />
      <input
        class="form-control"
        type="url"
        formControlName="site"
        placeholder="Site"
      />
      <button class="btn btn-success mt-3" type="submit">
        Adicionar Fornecedor
      </button>
    </form>
  </app-loading>
</div>
