<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/','home']">Cicloview</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
     <ul class="navbar-nav">
        <li class="nav-item">
           <a class="nav-link" [routerLink]="['/','customers']">Clientes</a>
        </li>
        <li class="nav-item">
           <a class="nav-link" [routerLink]="['/','suppliers']">Fornecedores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/','products']">Produtos</a>
       </li>
        <li class="nav-item">
           <a class="nav-link" [routerLink]="['/','orders']">Serviços</a>
        </li>
        <li class="nav-item">
           <a class="nav-link" [routerLink]="['/','users']">Usuários</a>
        </li>
        <li class="nav-item">
           <a class="nav-link" [routerLink]="['/']">Sair</a>
        </li>
     </ul>
  </div>
</nav>
<div class="jumbotron">
  <h3>Lista de Clientes</h3>
  <input type="text" class="form-control" model="buscar" placeholder="Buscar">
  <table show="customers.length > 0" class="table">
     <tr>
        <td></td>
        <td><b>Nome</b></td>
        <td><b>CPF</b></td>
        <td><b>Data de Nascimento</b></td>
        <td><b>Endereço</b></td>
        <td><b>Cidade</b></td>
        <td><b>UF</b></td>
        <td><b>Telefone</b></td>
        <td><b>E-mail</b></td>
     </tr>
     <!-- <tr class="tabelinha" *ngFor="let customer of customers">
        <td><input type="checkbox" model="selected"></td>
        <td>{{customer.nome | uppercase}}</td>
        <td>{{customer.cpf}}</td>
        <td>{{customer.dataNascimento | date:'dd/MM/yyyy'}}</td>
        <td>{{customer.endereco}}</td>
        <td>{{customer.cidade}}</td>
        <td>{{customer.uf}}</td>
        <td>{{customer.telefone}}</td>
        <td>{{customer.email}}</td>
     </tr> -->
  </table>
  <hr>
</div>
<div class="bottom">
  <h5>Cicloview</h5>
</div>
