<!-- <p>lista-cliente works!</p>
<input type="text" class="form-control" model="buscar" placeholder="Filtrar">
<table show="customers.length > 0" class="table">
    <tr>
        <td></td>
        <td><b>Nome</b></td>
        <td><b>CPF</b></td>
        <td><b>Data de Nascimento</b></td>
        <td><b>Endereço</b></td>
        <td><b>Cidade</b></td>
        <td><b>UF</b></td>
        <td><b>Telefone</b></td>
        <td><b>E-mail</b></td>
    </tr>
    <tr class="{selected: customer.selected}" *ngFor="let customer of customers">
        <td><input type="checkbox" model="selected"></td>
        <td>{{customer.nome | uppercase}}</td>
        <td>{{customer.cpf}}</td>
        <td>{{customer.dataNascimento | date:'dd/MM/yyyy'}}</td>
        <td>{{customer.endereco}}</td>
        <td>{{customer.cidade}}</td>
        <td>{{customer.uf}}</td>
        <td>{{customer.telefone}}</td>
        <td>{{customer.email}}</td>

    </tr>
</table> -->
