<div class="jumbotron">
  <h3>Cadastro de Usuários</h3>
  <app-loading [loading]="loading">
      <form [formGroup]="userForm" name="usersForm" (submit)="adicionarUsuario()">
      <input class="form-control" type="text" formControlName="nomeUsuario" placeholder="Usuário" required="true">
      <input class="form-control" type="email" formControlName="email" placeholder="Email" required="true">
      <input class="form-control" type="password" formControlName="senha" placeholder="Senha" required="true">
      <input class="form-control" type="text" formControlName="tipoUsuario" placeholder="Tipo Usuário" required="true">
      <button class="btn btn-success mt-3" type="submit">Adicionar Usuário</button>
      </form>
  </app-loading>
</div>
