<!DOCTYPE html>
<html lang="en" ng-app="Product_Sales">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="/Styles/style2.css">
      <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
      <script src="/angular/angular.js"></script>
      <script src="/angular/i18n/angular-locale_pt-br.js"></script>
      <script>
         angular.module("Product_Sales", []);
         angular.module("Product_Sales").controller("Product_SalesCTRL", 
         
         function($scope) {
             $scope.message="Venda de Produtos";
             $scope.products=[
                 {nome: 'RODA', marca: 'RODIX', codbar: '1556739245', valor: 12.34},
                 {nome: 'BANCO', marca: 'RODIX', codbar: '1556739245', valor: 12.34},
                 {nome: 'PEDAL', marca: 'RODIX', codbar: '1556739245', valor: 19.34},
                 {nome: 'CORRENTE', marca: 'RODIX', codbar: '1556739245', valor: 12.34},
                 {nome: 'GUIDÃO', marca: 'RODIX', codbar: '1556739245', valor: 30.34}
             ];
         
             $scope.sells=[]
             $scope.selected_client = [
                 {nome: "Adalberto", cpf: "34567812323", endereco: "Rua dos Sabias, 666, Vila Cruzildo", telefone: '2345-3456', email: "cruzildo@gmail.com"}
                 ]
         
         
             $scope.selecionarProduto = function(products) {
                 $scope.products = products.filter(function(product) {
                     if(product.selected){
                         $scope.sells.push(angular.copy(product));
                     }
                     
                     if (!product.selected) return product;
         
                 })
             };
         
             $scope.valorTotal = function(sells) {
                 var total = 0
                 var size = sells.length
                 for (var i = 0; i < size; i++) {
                     var elemento = sells[i]
                     total += elemento.valor
                     };
                 return `R$${total.toFixed(2)}`
             };
         
         
             $scope.deselecionarProduto = function(sells) {
                 $scope.sells = sells.filter(function(sell) {
                     if(sell.selected){
                         $scope.products.push(angular.copy(sell));
                     }
                     if (!sell.selected) return product;
         
                 })
             };
         
         
             $scope.temProdutoSelecionado = function(products) {
                 return products.some(function (product){
                     return product.selected;
                 })
             };
         
             $scope.class1 = "selected";
         })
         
      </script>
      <title>Venda de Produtos</title>
   </head>
   <body ng-controller="Product_SalesCTRL">
      <!-- Tabela de produtos para serem selecionados -->
      <div class="jumbotron">
         <h3>Selecionar Produtos</h3>
         <input type="text" class="form-control" ng-model="buscar" placeholder="Filtrar">
         <table ng-show="products.length > 0" class="table">
            <tr>
               <td></td>
               <td><b>Nome</b></td>
               <td><b>Marca</b></td>
               <td><b>Código de Barras</b></td>
               <td><b>Valor</b></td>
            </tr>
            <tr ng-class="{selected: product.selected}" ng-repeat="product in products | filter: buscar ">
               <td><input type="checkbox" ng-model="product.selected"></td>
               <td>{{product.nome | uppercase}}</td>
               <td>{{product.marca | uppercase}}</td>
               <td>{{product.codbar}}</td>
               <td>{{product.valor | currency}}</td>
            </tr>
         </table>
         <hr>
         <button class="btn btn-success" ng-click="selecionarProduto(products)" ng-if="temProdutoSelecionado(products)">Selecionar Produto</button>
      </div>
      <!-- =========================================================================================================== -->
      <!-- Tabela de produtos selecionados -->
      <div class="jumbotron">
         <h3 ng-bind="message"></h3>
         <input type="text" class="form-control" ng-model="buscar" placeholder="Filtrar">
         <table ng-show="sells.length > 0" class="table">
            <tr>
               <td></td>
               <td><b>Nome</b></td>
               <td><b>Marca</b></td>
               <td><b>Código de Barras</b></td>
               <td><b>Valor</b></td>
            </tr>
            <tr ng-class="{selected: sell.selected}" ng-repeat="sell in sells | filter: buscar ">
               <td><input type="checkbox" ng-model="sell.selected"></td>
               <td>{{sell.nome | uppercase}}</td>
               <td>{{sell.marca | uppercase}}</td>
               <td>{{sell.codbar}}</td>
               <td>{{sell.valor | currency}}</td>
            </tr>
         </table>
         <hr>
         <form name="clientsForm" ng-repeat="client in selected_client">
            <input class="form-control" type="text" ng-model="client.nome" placeholder="Nome" ng-required="true">
            <input class="form-control" type="text" ng-model="client.cpf" placeholder="CPF" ng-required="true">
            <input class="form-control" type="text" ng-model="client.endereco" placeholder="endereco" ng-required="true">
            <input class="form-control" type="text" ng-model="client.telefone" placeholder="telefone" ng-required="true">
            <input class="form-control" type="text" ng-model="client.email" placeholder="email" ng-required="true">
         </form>
         <form name='total'>
            <p>Valor Total = {{valorTotal(sells)}}</p>
         </form>
         <button class="btn btn-success" ng-disabled = "clientsForm.$invalid">Concluir Venda</button>
         <button class="btn btn-dark" ng-click="deselecionarProduto(sells)" ng-if="temProdutoSelecionado(sells)">Tirar Produto</button>
      </div>
      <div class="bottom">
         <h5>Cicloview</h5>
      </div>
   </body>
</html>