<div class="jumbotron listagem">
  <h3>{{ message }}</h3>
  <app-loading [loading]="loading">
    <form
      [formGroup]="customerForm"
      name="customersForm"
      (submit)="adicionarCliente()"
    >
      <div class="form-group row">
        <label for="inputNome" class="col-sm-2 col-form-label jumbotron-title"
          >Nome:
        </label>
        <div class="col-sm-10">
          <input
            class="form-control"
            type="text"
            formControlName="nome"
            placeholder="Nome Completo"
            id="inputNome"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="inputCpf" class="col-sm-2 col-form-label jumbotron-title"
          >CPF:
        </label>
        <div class="col-sm-10">
          <input
            class="form-control"
            type="text"
            formControlName="cpf"
            placeholder="000.000.000-00"
            mask="000.000.000-00"
            id="inputCpf"
          />
        </div>
      </div>
      <div class="form-group row">
        <label
          for="inputDataNascimento"
          class="col-sm-2 col-form-label jumbotron-title"
          >Data de Nasc.:
        </label>
        <div class="col-sm-10">
          <input
            class="form-control"
            type="date"
            formControlName="dataNascimento"
            id="inputDataNascimento"
          />
        </div>
      </div>
      <div class="form-group row">
        <label
          for="inputEndereco"
          class="col-sm-2 col-form-label jumbotron-title"
          >Endereço:
        </label>
        <div class="col-sm-10">
          <input
            class="form-control"
            type="text"
            formControlName="endereco"
            placeholder="Endereço Completo"
            id="inputEndereco"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="inputUf" class="col-sm-2 col-form-label jumbotron-title"
          >Estado:
        </label>
        <div class="col-sm-10">
          <select class="form-control" formControlName="uf" id="inputUf">
            <option *ngFor="let uf of EEstados.members" [value]="uf">
              {{ uf }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputCidade" class="col-sm-2 col-form-label jumbotron-title"
          >Cidade:
        </label>
        <div class="col-sm-10">
          <input
            class="form-control"
            type="text"
            formControlName="cidade"
            placeholder="Cidade"
            id="inputCidade"
          />
        </div>
      </div>
      <div class="form-group row">
        <label
          for="inputTelefone"
          class="col-sm-2 col-form-label jumbotron-title"
          >Telefone:
        </label>
        <div class="col-sm-10">
          <input
            class="form-control"
            type="tel"
            formControlName="telefone"
            placeholder="(00) 00000-0000"
            mask="(00) 00000-0009"
            id="inputTelefone"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="inputSexo" class="col-sm-2 col-form-label jumbotron-title"
          >Gênero:
        </label>
        <div class="col-sm-10">
          <select class="form-control" formControlName="sexo" id="inputSexo">
            <option *ngFor="let genero of EGenero.members" [value]="genero">
              {{ genero }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail" class="col-sm-2 col-form-label jumbotron-title"
          >E-mail:
        </label>
        <div class="col-sm-10">
          <input
            class="form-control"
            type="email"
            formControlName="email"
            placeholder="email@domain.com.br"
            id="inputEmail"
          />
        </div>
      </div>
      <button class="btn btn-success mt-3" type="submit">Salvar</button>
    </form>
  </app-loading>
</div>
