    <div class="jumbotron">
        <h3 bind="message"></h3>
       <input type="text" class="form-control" model="buscar" placeholder="Filtrar">
        <table show="customers.length > 0" class="table">
            <tr>
                <td></td>
                <td><b>Nome</b></td>
                <td><b>CPF</b></td>
                <td><b>Data de Nascimento</b></td>
                <td><b>Endereço</b></td>
                <td><b>Cidade</b></td>
                <td><b>UF</b></td>
                <td><b>Telefone</b></td>
                <td><b>E-mail</b></td>
            </tr>
            <tr class="{selected: customer.selected}" *ngFor="let customer of customers">
                <td><input type="checkbox" model="selected"></td>
                <td>{{customer.nome | uppercase}}</td>
                <td>{{customer.cpf}}</td>
                <td>{{customer.dataNascimento | date:'dd/MM/yyyy'}}</td>
                <td>{{customer.endereco}}</td>
                <td>{{customer.cidade}}</td>
                <td>{{customer.uf}}</td>
                <td>{{customer.telefone}}</td>
                <td>{{customer.email}}</td>

            </tr>
        </table>
        <hr>
        <form [formGroup]="customerForm" name="customersForm" (submit)="adicionarCliente()">
        <input class="form-control" type="text" formControlName="nome" placeholder="Nome" required="true">
        <input class="form-control" type="text" formControlName="cpf" placeholder="CPF" required="true">
        <input class="form-control" type="date" formControlName="dataNascimento" placeholder="Data de Nascimento" required="true">
        <input class="form-control" type="text" formControlName="endereco" placeholder="Endereco" required="true">
        <input class="form-control" type="text" formControlName="cidade" placeholder="Cidade" required="true">
        <input class="form-control" type="text" formControlName="uf" placeholder="UF" required="true">
        <input class="form-control" type="text" formControlName="telefone" placeholder="Telefone" required="true">
        <input class="form-control" type="sexo" formControlName="sexo" placeholder="Sexo" required="true">
        <input class="form-control" type="email" formControlName="email" placeholder="E-mail" required="true">


        </form>
        <!-- <button class="btn btn-success" (click)="adicionarCliente(null)" disabled="customersForm.$invalid">Adicionar Cliente</button> -->
        <button class="btn btn-success" (click)="adicionarCliente()">Adicionar Cliente</button>

        <button class="btn btn-success" (click)="buscarClientes()">Buscar Clientes</button>

        <button class="btn btn-danger" click="apagarCliente(customers)" if="temClienteSelecionado(customers)">Apagar Cliente</button>
    </div>

    <div class="bottom">
        <h5>Cicloview</h5>
    </div>
