<div class="jumbotron">
  <h3>{{ message }}</h3>
  <app-loading [loading]="loading">
    <form
      [formGroup]="customerForm"
      name="customersForm"
      (submit)="adicionarCliente()"
    >
      <input
        class="form-control"
        type="text"
        formControlName="nome"
        placeholder="Nome"
      />
      <input
        class="form-control"
        type="text"
        formControlName="cpf"
        placeholder="CPF"
        mask="000.000.000-00"
      />
      <input
        class="form-control"
        type="date"
        formControlName="dataNascimento"
        placeholder="Data de Nascimento"
      />
      <input
        class="form-control"
        type="text"
        formControlName="endereco"
        placeholder="Endereço"
      />
      <input
        class="form-control"
        type="text"
        formControlName="cidade"
        placeholder="Cidade"
      />
      <input
        class="form-control"
        type="text"
        formControlName="uf"
        placeholder="UF"
        mask="SS"
      />
      <input
        class="form-control"
        type="tel"
        formControlName="telefone"
        placeholder="Telefone"
        mask="(00) 00000-0000"
      />
      <input
        class="form-control"
        type="text"
        formControlName="sexo"
        placeholder="Sexo"
        mask="S"
      />
      <input
        class="form-control"
        type="email"
        formControlName="email"
        placeholder="E-mail"
      />
      <button class="btn btn-success mt-3" type="submit">
        Adicionar Cliente
      </button>
    </form>
  </app-loading>
</div>
