<!DOCTYPE html>
<html lang="en" ng-app="Customer_Registration">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/angular/angular.js"></script>
    <script src="/angular/i18n/angular-locale_pt-br.js"></script>
    <script src="/js/js_angularJS/cad_cliente.js"></script>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Cadastro de Cliente</title>
</head>
<body ng-controller="Customer_RegistrationCTRL">
    <div class="jumbotron">
        <h3 ng-bind="message"></h3>
       <input type="text" class="form-control" ng-model="buscar" placeholder="Filtrar">
        <table ng-show="clients.length > 0" class="table">
            <tr>
                <td></td>
                <td><b>Nome</b></td>
                <td><b>CPF</b></td>
                <td><b>Data de Nascimento</b></td>
                <td><b>Endereço</b></td>
                <td><b>Cidade</b></td>
                <td><b>UF</b></td>
                <td><b>Telefone</b></td>
                <td><b>E-mail</b></td>
            </tr>
            <tr ng-class="{selected: client.selected}" ng-repeat="client in clients | filter: buscar ">
                <td><input type="checkbox" ng-model="client.selected"></td>
                <td>{{client.nome | uppercase}}</td>
                <td>{{client.cpf}}</td>
                <td>{{client.dataNascimento | date:'dd/MM/yyyy'}}</td>
                <td>{{client.endereco}}</td>
                <td>{{client.cidade}}</td>
                <td>{{client.uf}}</td>
                <td>{{client.telefone}}</td>
                <td>{{client.email}}</td>
                
            </tr>
        </table>
        <hr>
        <form name="clientsForm">
        <input class="form-control" type="text" ng-model="client.nome" placeholder="Nome" ng-required="true">
        <!-- Aqui estamos fazendo com que as infromações passadas nesse campo sejam inclusas em "nome" dentro de $scope.clients -->
        <input class="form-control" type="text" ng-model="client.cpf" placeholder="CPF" ng-required="true">
        <input class="form-control" type="date" ng-model="client.dataNascimento" placeholder="Data de Nascimento" ng-required="true">
        <input class="form-control" type="text" ng-model="client.endereco" placeholder="Endereco" ng-required="true">
        <input class="form-control" type="text" ng-model="client.cidade" placeholder="Cidade" ng-required="true">
        <input class="form-control" type="text" ng-model="client.uf" placeholder="UF" ng-required="true">
        <input class="form-control" type="text" ng-model="client.telefone" placeholder="Telefone" ng-required="true">
        <input class="form-control" type="email" ng-model="client.email" placeholder="E-mail" ng-required="true">

       
        </form>
        <button class="btn btn-success" ng-click="adicionarCliente(client)" ng-disabled="clientsForm.$invalid">Adicionar Cliente</button>

        <button class="btn btn-danger" ng-click="apagarCliente(clients)" ng-if="temClienteSelecionado(clients)">Apagar Cliente</button>
    </div>

    <div class="bottom">
        <h5>Cicloview</h5>
    </div>
</body>
</html>