<div class="jumbotron">
  <h3>Usuários</h3>
  <input type="text" class="form-control" model="buscar" placeholder="Buscar">
  <table show="users.length > 0" class="table">
     <tr>
        <td></td>
        <td><b>Usuário</b></td>
        <td><b>Tipo</b></td>
        <td><b>E-mail</b></td>
     </tr>
     <tr class="{selected: user.selected}" *ngFor="let user of users">
        <td><input type="checkbox" model="selected"></td>
        <td>{{user.nomeUsuario | uppercase}}</td>
        <td>{{user.tipoUsuario}}</td>
        <td>{{user.email}}</td>
     </tr>
  </table>
  <hr>
</div>
