  <div class="jumbotron">
  <h3>Serviços</h3>
  <input type="text" class="form-control" model="buscar" placeholder="Buscar">
  <table show="services.length > 0" class="table">
     <tr>
        <td></td>
        <td><b>Nome</b></td>
        <td><b>Tipo</b></td>
        <td><b>Prazo</b></td>
        <td><b>Valor</b></td>
                <!-- <td>{{service.edit}}</td> -->
        <!--
          - Inserir uma coluna no final da tabela com icone "editar"
          - No ngfor colocar metodo de edicao que recebe serviceID
          - Mandar pra rota de editar passando o ID de parametro
          <td>{{service.edit}}</td> -->
     </tr>
     <tr class="{selected: service.selected}" *ngFor="let service of services">
        <td><input type="checkbox" model="selected"></td>
        <td>{{service.nome | uppercase}}</td>
        <td>{{service.tipo}}</td>
        <td>{{service.prazoDias}}</td>
        <td>{{service.valor}}</td>
     </tr>
  </table>
  <hr>
  <!-- Botões -->
  <div hidden="!temServicoSelecionado">
    <button class="btn btn-success" onclick="redirectTo='/service_update'" id="btn-accept">Editar Serviço</button>
  </div>
  <!-- (click)="editarFornecedor(service)"  -->

<!-- <div class="yourCssClass" *ngIf="this.isButtonVisible" (click)="this.isButtonVisible = false">
  ...
  </div>?? -->
