/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* CSS Document */

a{
  cursor: pointer;
}

.jumbotron{
  width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.lista-clientes{
  width: 1000px;
}

.providers-update{
  width: 1100px;
}

.table{
  margin-top: 15px;
}

.form-control{
  margin: 10px auto;
  width: 300px;

}

.login-form-control{
  margin-top: 10px;
  margin-left: 1px;
  margin-bottom: 3px;
  width: 250px;

}

.selected{
  background: #f36073c2;
  font-weight: bold;
}

.bottom{
  position: absolute;
  bottom: auto;
  // margin-top: 300px;
  width: 100%;
  text-align: center;
}

.botao-sair{
  position: absolute;
  right: 10px;
}
