/* CSS Document */

.jumbotron{
    width: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.providers-update{
    width: 1100px;
}

.table{
    margin-top: 15px;
}

.form-control{
    margin: 10px auto;
    width: 300px;

}

.login-form-control{
    margin-top: 10px;
    margin-left: 1px;
    margin-bottom: 3px;
    width: 250px;

}

.selected{
    background: #f36073c2;
    font-weight: bold;
}

.bottom{
    text-align: center;
}

